@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:Outfit;
}
/* by default this outfit font will add to all the elements*/

.placeholder-color{
  color: #e0e0e0;
  font-weight:300;
}