# Ignore node modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore environment files
.env
client/.env
server/.env

# Ignore build files
dist/
build/

# System files
.DS_Store
Thumbs.db
